/*All Pomodoro_page BEGIN*/
* {}

body {}
/*All Pomodoro_page END*/
/*Main BEGIN*/
#pageMain {
	/*Properties*/
	height: 550px;
	width: 100%;
	/*padding: 0px 40px;*/
	/*View*/
	background: inherit;
	/*Position*/
	position: absolute;
	/*margin-left: 40px;
	margin-right: 40px;*/
}

#pomodoroApp {
	/*Properties*/
	height: 100%;
	width: calc(100% - 430px);
	/*View*/
	background: red;
	/*Position*/
	position: relative;
	float: left;
	margin-left: 40px;
}
#info {
	/*Properties*/
	height: 100%;
	width: 350px;
	/*View*/
	background: yellow;
	/*Position*/
	position: relative;
	float: right;
	margin-right: 40px;
}
/*Main END*/
/*Footer BEGIN*/
#footerBox {
	/*Properties*/
	height: 130px;
	width: 100%;
	/*View*/
	/*Position*/
	clear: both;
	position: absolute;
	margin-top: 550px;
}

#pageFooter{
	/*Properties*/
	height: 100%;
	width: calc(100%-80px);
	/*View*/
	background: violet;
	/*Position*/
	clear: both;
	position: absolute;
	margin-left: 40px;
	margin-right: 40px;
}

/*Footer END*/