/*All page BEGIN*/
*{
	/*Position*/
	margin: 0px;
   padding: 0px;

   /*Font*/
   text-decoration: none;
}

body {
	/*View*/
	background: #F1DB62;
	background: #F1F111;
	background: #FFFF9F;
	background: white;
	/*Font*/
	font-family: Roboto, sans-serif;
	line-height: 1.154em;
	font-weight: 400;
	min-width: 1300px;
}
/*All page END*/
/*Header BEGIN*/
#pageHeader {
	/*Properties*/
	width: 100%;
	height: 60px;
	/*Position*/
	position: relative;
	/*Font*/
	color: #000;
	line-height: 25px;
	font-size: 25px;
	text-align: center;
}

nav#items {
	/*Position*/
	position: absolute;
	margin-top: 10px;
	margin-left: 20px;
}

nav#items a{
	/*Properties*/
	display: block;
	width: 150px;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	/*View*/
	/*border-top: 3px solid #000111;
	border-bottom: 3px solid #000111;*/
	/*Position*/
	position: relative;
	float: left;
	margin-left: 20px;
	/*Font*/
	color: #000;
}

#mainNav{
	background: #E3F2DE;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
}
#pomodoroNav{
	background: #F26E3A;
	background: #FF9900;
	background: #FF822E;
	background: #FF8258;
	background: #E8C576;

	border-top: 3px solid #FFF;
	border-bottom: 3px solid #FFF;

	border-color: #FF6600;
	border-color: #EF5411;
	color: #141C26;
}
#planerNav{
	background: red;
	border-top: 3px solid #DC2D00;
	border-bottom: 3px solid #DC2D00;
}
#suggservNav{
	background: #FFFF00;
	border-top: 3px solid #DC2D00;
	border-bottom: 3px solid #DC2D00;
}

nav#loggining {
	/*Properties*/
	display: block;
	/*Position*/
	float: right;
	margin-right: 40px;
	margin-top: 10px;
} 

nav#loggining a{
	/*Properties*/
	display: block;
	width: 150px;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	/*View*/
	background: #E3F2DE;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	/*Position*/
	position: relative;
	float: right;
	/*Font*/
	color: #000;
}

#login {
	margin-right: 0px;
}
#signUp {
	margin-right: 20px;
}
/*Header END*/