/*All page BEGIN*/
*{
	/*Position*/
	margin: 0px;
   padding: 0px;

   /*Font*/
   text-decoration: none;
}

body {
	/*View*/
	background: white;
	/*Font*/
	font-family: Roboto, sans-serif;
	font-weight: 400;
	/*min-width: 1300px;*/
}
/*All page END*/
/*Header BEGIN*/
#pageHeader {
	/*Properties*/
	/*Position*/
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	/*padding-left: 40px;
	padding-right: 40px;*/
}

.navButton {
	/*Properties*/
	/*display: block;
	width: 150px;
	height: 40px;*/
	/*padding-top: 5px;
	padding-bottom: 5px;*/
	/*View*/
	/*border-top: 3px solid;
	border-bottom: 3px solid;*/
	/*Behaviour*/
	-moz-user-select: none;
	-khtml-user-select: none; 
	-webkit-user-select: none;
	user-select: none;
	/*Font*/
	color: #141C26;
	line-height: 22px;
	font-size: 22px;
	/*text-align: center;*/
}
.navButton:hover {
	cursor: pointer;
}

#appNavConteiner {
	/*Position*/
	/*position: absolute;
	margin-top: 10px;
	margin-left: 20px;*/
}

.appNav {
	/*Position*/
	/*position: relative;
	float: left;
	margin-left: 20px;*//*20*/
}
/*Header END*/