/*All page BEGIN*/
*{
	/*Position*/
	margin: 0px;
   padding: 0px;

   /*Font*/
   text-decoration: none;
}

.textSelectNone{
	-moz-user-select: none;
	-khtml-user-select: none; 
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.hoverAnimation{
	-webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}

body {
	/*View*/
	background: white;
	/*Font*/
	font-family: Roboto, sans-serif;
	font-weight: 400;
	/*min-width: 1300px;*/
}
/*All page END*/
/*Header BEGIN*/
#pageHeader {
	/*Properties*/
	/*Position*/
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	/*padding-left: 40px;
	padding-right: 40px;*/
}
#siteNavbar {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	text-align:center;
}

.navElement{
	float:left;
}

.navButton {
	/*Properties*/
	/*View*/
	/*Behaviour*/
	/*Font*/
	color: #141C26;
	line-height: 22px;
	font-size: 22px;
	display:block;
	padding:8px 16px;
	/*text-align: center;*/
}
.navButton:hover {
	cursor: pointer;
	color:#000;
	background-color:#ccc;
}

#appNavConteiner {
	/*Position*/
	/*position: absolute;
	margin-top: 10px;
	margin-left: 20px;*/
}


/*Header END*/